.cwdg_left {
    background-image: linear-gradient(180deg, $channel_colour$, $channel_dkcolour$);
    border: 1px solid $channel_colour$;
    color: #000000;
    border-right: none;
    padding: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font: 12px "Sans";
    min-width: 40px;
}

.cwdg_mid {
    background-color: transparent;
    border: 1px solid $channel_colour$;
    color: $channel_colour$;
    border-left: none;
    border-right: none;
    padding-top: 0px;
    padding-bottom: 6px;
    padding-left: 4px;
    font: 20px "Segoe UI Symbol";
    min-width: 20px;
}

.cwdg_right {
    background-color: transparent;
    border: 1px solid $channel_colour$;
    color: $channel_colour$;
    border-left: none;
    padding: 3px;
    padding-right: 8px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-right: 5px;
    font: 12px "Sans";
}